{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'hello_app/style.css' %}">
</head>

<body>
    <h1>{{ message }}</h1>
    <div class="schedule-grid">
        {% for event in full_schedule %}
        <div class="time-marker">{{ event.start|date:"H:i" }}</div>

        <div class="event-container {{ event.label }}">
            <span class="event-time">
                {{ event.start|date:"H:i" }} - {{ event.end|date:"H:i" }}
            </span>
            <span class="event-title">{{ event.label }}</span>
        </div>
        {% endfor %}
    </div>
    <div>

    </div>
    </div>
    <iframe
        src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Asia%2FTokyo&showPrint=0&src=aGlzYW11Z0BnbWFpbC5jb20&src=ZGUuY2gjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&src=ZW4uamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%237986cb&color=%230b8043&color=%230b8043"
        style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>

</body>

</html>