{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'hello_app/style.css' %}?v={{ timestamp }}">
</head>

<body>
    <h1>{{ message }}</h1>
    <div class="schedule-grid">
        {% for event in full_schedule %}
        <div class="time-marker">{{ event.start|date:"H:i" }}</div>

        <div class="event-container {{ event.label }}">
            <span class="event-time">
                {{ event.start|date:"H:i" }} - {{ event.end|date:"H:i" }}
            </span>
            <span class="event-title">{{ event.label }}</span>
        </div>
        {% endfor %}
    </div>
    <div class="container">


        <div class="text-area-container">
            <textarea placeholder="ここにメッセージを入力してください...
Type your message here...

日本語入力中にEnterを押しても送信されません！
You can press Enter while typing in Japanese!"></textarea>
        </div>
    </div>
    <div>

        {% for free_time in free_times %}
        <div>{{ free_time }}</div>
        {% endfor %}
    </div>

    <div class="schedule-grid">
        {% regroup schedules by start.hour as hours_list %}
        {% for hour in hours_list %}
        <div class="hour-block">
            <h3>{{ hour.grouper }}:00</h3>

            {% for event in hour.list %}
            <div class="quarter-slot {{ event.label|lower }}">
                {{ event.start|date:"H:i" }} - {{ event.label }}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>



    <iframe src="{{ caljs }}" style="border:solid 1px #777" width="800" height="600" frameborder="0"
        scrolling="no"></iframe>

</body>

</html>